version: '3'

services:
  core:
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file:
      - envs/prod.env
    privileged: true
    volumes:
      - .:/app
    depends_on:
      - postgres
      - zigbee_mq
      - zigbee2mqtt
    networks:
      - default
      - telehooks_mq
    logging:
      options:
        max-size: "1mb"
        max-file: "3"
    command: make run

  postgres:
    restart: always
    image: postgres:14.1
    volumes:
      - ../crazy_bear_postgres_data:/var/lib/postgresql/data
    env_file:
      - envs/prod.env

  zigbee_mq:
    restart: always
    image: eclipse-mosquitto:2.0.18
    volumes:
      - "./mosquitto-data:/mosquitto"
#    ports:
#      - "1883:1883"
#      - "9001:9001"
    command: "mosquitto -c /mosquitto-no-auth.conf"

  zigbee2mqtt:
    restart: always
    image: koenkk/zigbee2mqtt:1.35.1
    privileged: true
    depends_on:
      - zigbee_mq
    volumes:
      - ../zigbee2mqtt_data:/app/data
      - /run/udev:/run/udev:ro
#    ports:
#      - "8080:8080"
    environment:
      - TZ=Europe/Moscow

volumes:
  postgres_data: { }

networks:
  telehooks_mq:
    external: true
